In [2]:
# create an empty dataframe and add columns
import pandas as pd
from faker import Faker
import names
df = pd.DataFrame()
from product_table import product_table_generator
from role_table import role_table_generator

product team data saved to ../../data/product_table.csv.
Role data saved to ../../data/role_table.csv.

# User.csv

1. User Name genrator

In [56]:
#generate 100 customer names
import names

def name_generator(cnt):
    
    name = []
    for i in range(cnt):
        name.append(names.get_full_name())
    df['name'] = name
    df[['first_name', 'last_name']] = df['name'].str.split(' ', n=1, expand=True)
    
    df.drop('name', axis=1, inplace=True)
    
    
    return df

In [57]:
def username_email_generator(cnt):
    
    df['github_username'] = df['first_name'].str[0].str.lower() + df['last_name'].str.lower()   
    df['email'] = df['first_name'].str[0].str.lower() + df['last_name'].str.lower() + "@company.com"
    
    return df

In [58]:
cnt = 100
name_generator(cnt)
username_email_generator(cnt)

   first_name   last_name github_username                    email
0      Robert       Ramos          rramos       rramos@company.com
1        John       Janas          jjanas       jjanas@company.com
2        Jeff   Bellinger      jbellinger   jbellinger@company.com
3      Laurie  Delafuente     ldelafuente  ldelafuente@company.com
4     Camilla  Pennington     cpennington  cpennington@company.com
..        ...         ...             ...                      ...
95       Hugh     Johnson        hjohnson     hjohnson@company.com
96      Jason      Harris         jharris      jharris@company.com
97      Kevin        Lobo           klobo        klobo@company.com
98        Jan      Taylor         jtaylor      jtaylor@company.com
99      Maria      Peters         mpeters      mpeters@company.com

[100 rows x 4 columns]

In [59]:
import random
def product_columns(dicti, key_col, val_col, n):
    
    keys = []
    values1 = []

    for i in range(n):
        key, value = random.choice(list(dicti.items()))
        keys.append(key)
        values.append(value[0])
      
    
    df[key_col] = keys
    df[val_col] = values
  
    return df

In [ ]:
product_info = product_table_generator()
role_info = role_table_generator()

product_columns(dicti, key_col, val_col, n)